[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    .eggs,
    *.egg-info,
    .ipynb_checkpoints
ignore =
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
extend-ignore = E501
per-file-ignores =
    __init__.py:F401
